In [ ]:
#write a python program to accept employee bsic salary to find groos saklay?
basic=int(input("enter  your basic salay to find gross salary:"))
if basic<=10000:
   hra=(basic/100)*70
   da=(basic/100)*56
elif basic<=20000:
      hra=(basic/100)*73
      da=(basic/100)*60
else:
      hra=(basic/100)*80
      da=(basic/100)*66
gs=basic+hra+da
print("hra:",hra)
print("da:",da)
print("gross salay:",gs)

enter  your basic salay to find gross salary:15000
hra: 10950.0
da: 9000.0
gross salay: 34950.0

In [ ]:
# Write a program to print count of factors of a given number
# 10
  #  1 2 5

# 50  -- 5
count=0
num=int(input("Enter your number to print count of factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

print("number of factors: ",count)

Enter your number to print count of factors :12
number of factors:  5

In [ ]:
# Write a program to check given number is prime or not
# 2 3 5 7 11 13 17 19 ....
count=0
num=int(input("Enter your number to check it is prime or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

if count==1:
    print(num," is a prime number")
else:
    print(num," is not a prime number")

Enter your number to check it is prime or not :95
95  is not a prime number

In [ ]:
for i in range(0,5):
    for j in range(0,5):
        print("Hi", end=" ")

Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi

In [ ]:
for i in range(0,5):
    for j in range(0,i+1):
        print(i, end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
for row in range(0,6):
    for col in range(0,7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print(" * ",end=" ")
        else:
            print(" ", end="  ")
    print(" ")

    *   *      *   *
 *         *         *
 *                  *
    *            *
       *      *
          *

In [ ]:
# While loop:
# Write a program to find number of digits in a given number
# Write a program to display the number in reverse order
# Write a program to check given number is palindrom number or not

In [16]:
# Write a program to find number of digits in a given number
 #input: 5235
 #op: 4

num=6574
count=0
while num!=0:           # 0 !=0
    num=num//10         # 6//10  --> 0
    count=count+1        # 4
print("Number of digits : ",count)

Number of digits :  4

In [17]:
# Write a program to display the number in reverse order
# input: 6324  ---
# output: 4236

num=6324
rev=0
while num!=0:            # 6!=0
    rem=num%10               # 6%10   =6
    rev=rev*10+rem       #4236
    num=num//10              # 6//10  6
print("reverse number: ",rev)

reverse number:  4236

In [22]:
X=56,"Hyderabad",True,9.3
type(X)

tuple

In [25]:
age=(22,26,18,72,10,11,15)
for i in age:
  if i>=18:
    print("eligible:",i)
  else:
    print("not eligible:",i)

eligible: 22
eligible: 26
eligible: 18
eligible: 72
not eligible: 10
not eligible: 11
not eligible: 15

In [27]:
salary =[22,76,99,55,65,66]
salary.append(97)

In [28]:
salary.insert(22,42)

In [29]:
salary.remove(55)

In [30]:
salary.pop(2)

99

In [31]:
salary.sort()

In [32]:
salary

[22, 42, 65, 66, 76, 97]

In [33]:
salary.reverse()

In [34]:
salary

[97, 76, 66, 65, 42, 22]